* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  font-size: 10px;
  overflow-x: hidden;
}

h2 {
  font-size: 2.8rem;
  color: white;
  font-family: sans-serif;
}

.white-nav {
  height: 5rem;
  background-color: white;
}

.yellow-nav {
  display: block;
  height: 5rem;
  line-height: 30px;
  background: #fd3;
  font-size: 13px;
}

.yellow-nav p {
  color: black;
  margin-left: 10px;
  padding: 12px;
}

ul {
  list-style-type: none;
}

li {
  margin-left: 5px;
  font: 1.3em sans-serif;
  color: rgb(182, 173, 173);
}

.flex {
  display: flex;
  justify-content: flex-start;
}

.grid-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 40px 0;
  grid-template-areas: "left-post left-post left-post left-post" "topright topright topright topright" "bottomright bottomright bottomright bottomright";
}

.left-post {
  grid-area: left-post;
  position: relative;
  height: 15rem;
  background-image: linear-gradient(to bottom, rgba(228, 89, 89, 0.959), rgb(41, 34, 34)), url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/02/borisbrain-796x417.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.topright {
  grid-area: topright;
  background-image: linear-gradient(to bottom, rgba(105, 101, 101, 0.65), rgba(22, 22, 22, 0.911)), url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/03/sq-online-store-phone-e1614664052360.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  height: 15rem;
  background-color: rgb(141, 27, 27);
  position: relative;
}

.bottomright {
  grid-area: bottomright;
  height: 15rem;
  background-image:
    linear-gradient(to bottom, rgba(105, 101, 101, 0.678), rgba(22, 22, 22, 0.911)),
    url(
      https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/03/sq-online-store-phone-e1614664052360.jpg
);
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.content {
  position: absolute;
  bottom: 0;
}

.cover-title .cover-title-two {
  line-height: 1.1;
  font-size: 2rem;
  font-weight: 700;
}

.nav-logo-black {
  background-color: black;
  left: 0;
  position: absolute;
  top: 0;
}

.nav-img {
  display: block;
  height: 50px;
  position: relative;
  width: 95px;
  z-index: 999;
}

.left-nav {
  display: none;
}

.right-nav {
  display: none;
}

.white-nav-list {
  display: none;
}

.right-icon {
  text-align: center;
  float: right;
  margin-bottom: 20px;
}

.icons {
  display: inline;
  margin-left: 10px;
  border-left: 1px solid rgb(80, 78, 78);
  height: 48px;
  opacity: 0.55;
  padding: 16px;
}

.hideinlarge {
  color: orange;
}

.investment-story-container {
  display: block;
  justify-content: center;
}

.investment-story-block {
  margin: 0 10px;
}

@media (min-width: 801px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 10px;
    grid-template-areas: "left-post left-post topright" "left-post left-post bottomright";
  }

  .left-post {
    grid-area: left-post;
    height: 45rem;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(228, 89, 89, 0.959), rgb(41, 34, 34)), url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/02/borisbrain-796x417.png);
  }

  .topright {
    grid-area: topright;
    position: relative;
    background-color: rgb(96, 235, 235);
    height: 22rem;
  }

  .bottomright {
    grid-area: bottomright;
    position: relative;
    height: 22rem;
  }

  .cover-title {
    font-family: sans-serif;
    font-size: 4rem;
    font-weight: 700;
  }

  .content {
    position: absolute;
    bottom: 0;
  }

  .nav-logo-black {
    width: 105px;
    height: 80px;
  }

  .nav-img {
    margin-top: 30px;
    display: block;
    height: 20px;
    position: relative;
    width: 95px;
    z-index: 999;
  }

  .black-nav {
    height: 3rem;
    background-color: black;
  }

  .left-nav {
    margin-left: 10rem;
    margin-top: 1rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .licontainer {
    background-color: black;
    left: 0;
    position: absolute;
    top: 0;
  }

  .hideinlarge {
    display: none;
  }

  .blockfour {
    display: none;
  }

  .investment-story-container {
    display: flex;
    justify-content: center;
  }

  .investment-story-block {
    margin: 0 10px;
    width: 300px;
    height: 200px;
  }

  .latest-funding-header-container {
    /* margin-left: 235px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .latest-funding-header > a {
    color: #f42;
    text-decoration: none;
    font-weight: bolder;
    font-size: 25px;
  }

  .latest-funding-right-menu {
    margin-right: 221px;
  }

  .containerwidth {
    text-align: center;
  }

  .yellow-nav p {
    padding-left: 100px;
  }

  /* main */
  .nav-a-div {
    margin-top: -19px;
  }

  .lf-content-flex {
    display: flex;
    flex-direction: row;
  }

  .latest-funding-container {
    margin-top: 50px;
  }

  .lf-title-txt {
    display: flex;
    flex-direction: row;
  }

  .lf-txt {
    margin: 0 5px 0 5px;
  }

  .txt-2 {
    border-right: 1px solid #f42;
    border-left: 1px solid #f42;
    padding: 0 5px 0 5px;
  }

  .categories-subtitle-img {
    justify-content: space-between;
  }

  .categories-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(5, 1fr);
  }

  .latest-news-container {
    margin: 100px 20px 100px 20px;
  }

  .latest-news-grid,
  .ld-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .latest-element {
    flex-direction: column;
  }

  .news-img img,
  .ld-img img {
    height: 120px;
    width: 100%;
  }

  .ld-content {
    flex-direction: column;
    margin-right: 10px;
  }

  .lf-4 {
    display: none;
  }
}

@media (min-width: 1024px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 10px;
    grid-template-areas: "left-post left-post topright" "left-post left-post bottomright";
  }

  .left-post {
    grid-area: left-post;
    height: 45rem;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(228, 89, 89, 0.959), rgb(41, 34, 34)), url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/02/borisbrain-796x417.png);
  }

  .topright {
    grid-area: topright;
    position: relative;
    background-color: rgb(96, 235, 235);
    height: 22rem;
  }

  .bottomright {
    grid-area: bottomright;
    position: relative;
    height: 22rem;
  }

  .cover-logo {
    margin-top: 10px;
    margin-left: 10px;
    background: transparent url(./img/download.svg) no-repeat;
    background-size: contain;
    left: 24px;

    /* max-width: 50%; */
    height: 100%;
    max-height: 112px;
    line-height: 1;
    top: 24px;
    text-align: right;
  }

  .cover-title {
    font-family: sans-serif;
    font-size: 6rem;
    font-weight: 700;
  }

  .content {
    position: absolute;
    bottom: 0;
  }

  .nav-img {
    display: none;
  }

  .black-nav {
    height: 3rem;
    background-color: black;
  }

  .left-nav {
    margin-left: 5px;
    margin-top: 6px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .right-nav {
    margin-top: 6px;
    color: white;
    display: flex;
    margin-right: 10px;
  }

  .right-nav-container {
    right: 0;
    position: absolute;
    top: 0;
  }

  .right-nav li {
    margin-left: 10px;
  }

  .yellow-nav {
    display: block;
    height: 3rem;
  }

  .yellow-nav p {
    padding: 0;
  }

  .white-nav-list {
    text-transform: uppercase;
    display: flex;
  }

  .white-nav-list li {
    margin-top: 20px;
    margin-left: 10px;
  }

  .licontainer {
    background-color: black;
    left: 0;
    position: absolute;
    top: 0;
  }

  .nav-logo-black {
    display: none;
  }

  .hideinlarge {
    display: none;
  }

  .icons {
    position: relative;
    top: -24px;
  }

  .investment-story-container {
    display: flex;
    justify-content: center;
  }

  .investment-story-block {
    margin: 0 10px;
    width: 300px;
    height: 200px;
  }

  .latest-funding-header-container {
    /* margin-left: 235px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .latest-funding-header > a {
    color: #f42;
    text-decoration: none;
    font-weight: bolder;
    font-size: 25px;
  }

  .blockfour {
    display: block;
  }

  .latest-funding-right-menu {
    margin-right: 221px;
  }

  .containerwidth {
    text-align: center;
  }

  .latest-funding-header {
    margin-left: 233px;

    /* background-color:yellow; */
  }

  .date {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 15px;
    color: white;
    margin-top: 5px;
  }

  /* main  */
  main {
    width: 90%;
    margin: auto;
  }

  .mobile-nav {
    display: none;
  }

  .nav-1,
  .nav-2 {
    display: flex;
  }

  .nav-a-div {
    text-align: left;
    padding-left: 25px;
    margin-top: -19px;
  }

  .highlight-1-logo {
    display: flex;
  }

  .highlight-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .highlight-1::before {
    background: linear-gradient(to bottom, rgba(255, 0, 0, 0.6), rgba(255, 0, 0, 0.3), rgba(0, 0, 0, 1));
  }

  .highlight-grid {
    height: 475px;
    display: grid;
    grid-gap: 8px;
    grid-template-areas: 'item1 item1 item1 item1 item2 item2' 'item1 item1 item1 item1 item2 item2' 'item1 item1 item1 item1 item3 item3' 'item1 item1 item1 item1 item3 item3';
  }

  .lf-4 {
    display: block;
  }

  .lf-title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .categories-img {
    flex: 1 1 280px;
    background-size: cover;
  }

  .categories-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
  }

  .latest-news-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .news-img img,
  .ld-img img {
    height: 130px;
    width: 100%;
  }

  .ld-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .ld-img img {
    height: 200px;
  }

  .highlight-title {
    font-size: 60px;
  }

  .highlight-title-2 {
    font-size: 35px;
  }
}

/* footer */

/* FOOTER */

.footer {
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 200px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: #131313;
}

.wrapper2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.wrapper2 > span {
  margin: 2px;
}

.social-links-footer {
  display: flex;
  justify-content: space-around;
}

.social-links-footer > li {
  background: #333;
  border-radius: 50%;
  height: 20px;
  padding: 12px;
  text-align: center;
  width: 20px;
  margin: 0 5px;
}

.menu-links-footer > li {
  padding: 10px;
}

.social-links-footer > li:hover {
  background-color: black;
}

.menu-links-footer {
  display: flex;
  margin-top: 20px;
}

.menu-links-footer-style {
  font-weight: bold;
  color: white;
}

.menu-links-footer-style:hover {
  color: grey;
}

.company-logo1 {
  width: 40px;
  height: 40px;
}

.company-logo2 {
  width: 60px;
  height: 60px;
}

ol,
ul {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

/* latest news and main */

.latest-title {
  color: #f42;
  font-size: 23px;
  font-weight: bolder;
  margin: 9px;
}

.latest-title i {
  font-size: 15px;
}

.latest-element {
  display: flex;
  margin: 10px 0 10px 0;
}

.news-img {
  margin-right: 10px;
}

.news-title {
  color: #131313;
  font-weight: bold;
  font-size: 15px;
}

.news-sub {
  color: #aaa;
  font-size: 13px;
  margin-top: 5px;
}

/* Latest funding */

.latest-funding-container {
  display: flex;
  flex-direction: column;
  margin: 0 20px 0 20px;
}

.lf-content {
  flex: 1 1 300px;
  margin: 20px 5px 20px 5px;
}

.lf-title-div {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.lf-title-txt {
  display: flex;
  flex-direction: column;
}

.footer-icons a {
  width: 35px;
  height: 35px;
  color: white;
  margin-left: 10px;
  background-color: #333;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 2px solid #333;
}

.lf-footer a {
  color: #666;
  text-decoration: none;
}

.footer-text a {
  color: #aaa;
  text-decoration: none;
  font-size: 11px;
  margin-left: 10px;
}

.ct-img-txt-sub a {
  text-decoration: none;
}

.categories-img-txt a {
  color: white;
}

.lf-title {
  color: #f42;
  font-size: 23px;
  font-weight: bolder;
  margin: 9px;
}

.lf-title i {
  font-size: 15px;
}

.lf-txt {
  color: #f42;
  font-size: 14px;
  margin: 5px 10px;
}

.lf-title,
.lf-txt {
  text-decoration: none;
}

.lf-titles {
  color: white;
  font-weight: bold;
  padding: 0 5px 10px 5px;
  background-color: #f42;
}

.lf-titles h3 {
  margin-left: 70px;
  margin-top: -10px;
}

.lf-subtitle {
  background-color: #ff442214;
  padding: 15px;
  padding-left: 75px;
}

.lf-subtitle-price {
  font-weight: bold;
}

.lf-subtitle-serie {
  font-size: 12px;
  color: #999;
  margin-top: 2px;
}

.lf-body {
  border-bottom: solid 1px #f42;
  padding-bottom: 15px;
  padding-top: 10px;
}

.lf-color {
  background-color: #f79c8814;
}

.lf-footer {
  padding: 15px 10px 15px 10px;
  font-size: 11px;
  line-height: 160%;
}

.lf-footer a span {
  color: #999;
}

.lf-body-links {
  display: block;
  text-decoration: none;
  color: #666;
  font-size: 13px;
  line-height: 180%;
  margin-left: 15px;
}

.lf-body-links i {
  color: black;
  margin-right: 5px;
}

/* Categories */

.categories-title h3 {
  color: #f42;
  font-size: 23px;
  font-weight: bolder;
  margin: 9px;
}

.categories-title i {
  font-size: 15px;
}

.categories-container {
  margin: 0 20px 0 20px;
}

.categories-content {
  display: flex;
  margin: 10px;
  flex-direction: column;
}

.categories-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1 1 50px;
}

.categories-img {
  display: flex;
  flex: 1 1 250px;
  flex-direction: column;
  justify-content: flex-end;
  background-size: 100% 100%;
}

.ct-img-1 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/03/Wallstreetbets-hed-368x276.jpg");
}

.ct-img-2 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/03/Wallstreetbets-hed-368x276.jpg");
}

.ct-img-3 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/03/Wallstreetbets-hed-368x276.jpg");
}

.ct-img-4 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/03/Wallstreetbets-hed-368x276.jpg");
}

.ct-img-5 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/03/Wallstreetbets-hed-368x276.jpg");
}

.ct-img-6 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/03/Wallstreetbets-hed-368x276.jpg");
}

.ct-img-7 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/03/Wallstreetbets-hed-368x276.jpg");
}

.ct-img-8 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/03/Wallstreetbets-hed-368x276.jpg");
}

.ct-img-9 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/03/Wallstreetbets-hed-368x276.jpg");
}

.categories-img-txt {
  color: white;
  margin: 10px;
}

.ct-img-txt-title {
  font-weight: 400;
}

.ct-img-txt-main {
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

.ct-img-txt-sub {
  color: #888;
}

.subtitle-left {
  margin: 15px;
}

.ct-sub1 {
  background: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/03/sq-online-store-phone-e1614664052360.jpg");
}

.ct-sub2 {
  background: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/03/sq-online-store-phone-e1614664052360.jpg");
}

.ct-sub3 {
  background: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/03/sq-online-store-phone-e1614664052360.jpg");
}

.ct-sub4 {
  background: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/03/sq-online-store-phone-e1614664052360.jpg");
}

.ct-sub5 {
  background: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/03/sq-online-store-phone-e1614664052360.jpg");
}

.ct-sub6 {
  background: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/03/sq-online-store-phone-e1614664052360.jpg");
}

.ct-sub7 {
  background: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/03/sq-online-store-phone-e1614664052360.jpg");
}

.ct-sub8 {
  background: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/03/sq-online-store-phone-e1614664052360.jpg");
}

.ct-sub9 {
  background: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/03/sq-online-store-phone-e1614664052360.jpg");
}

.subtitle-right {
  background-size: 100% 100%;
  background-position: 40%;
  flex: 0 0 96px;
  width: 96px;
  height: 96px;
}

.subtitle-txt {
  font-weight: bold;
  margin-top: 3px;
}

.categories-subtitle-img {
  display: flex;
  flex: 1 1 80px;
  background-color: #ff442214;
  color: #f42;
}

.categories-links {
  flex: 1 1 300px;
}

.categories-ul {
  display: flex;
  flex-direction: column;
  list-style-type: circle;
  list-style-position: inside;
}

.categories-li {
  color: #555;
  font-size: 13px;
  padding: 10px 5px 10px 0;
  border-bottom: 0.5px solid rgba(211, 181, 181, 0.658);
}

/* Latest deals */

.latest-deals-container {
  margin: 0 20px 20px 20px;
}

.ld-grid,
.ld-txt {
  margin-left: 10px;
}

.ld-title {
  color: #f42;
  font-size: 23px;
  font-weight: bolder;
  margin: 9px;
}

.ld-title i {
  font-size: 15px;
}

.ld-content {
  display: flex;
  margin-top: 10px;
}

.ld-txt-main {
  font-size: 15px;
  font-weight: bold;
}

.ld-txt-sub {
  font-size: 10px;
  margin-top: 5px;
}

.cut-txt {
  text-decoration: line-through;
  color: #aaa;
  font-size: 12px;
}

.Seeall {
  color: #f42;
  font-size: 23px;
  font-weight: bolder;
  float: right;
}

.categories-li a {
  color: #131313;
}

.ld-title a {
  color: #f42;
}

.subtitle-left a p {
  color: #131313;
}
